<div class="container pb-5">
  <img src="assets\images\BannerFondo1.png" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
</div>
<div class="row py-2">
  <div class="col-8 offset-md-2">
      <dx-tabs
          [items]="tabs"
          (onItemClick)="onItemClick($event)"
      >
      </dx-tabs>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <dx-tree-view
      [dataSource]="listMenu"
      dataStructure="plain"
      keyExpr="ID"
      displayExpr="name"
      parentIdExpr="categoryId"
      selectionMode="multiple"
      [selectByClick]="true"
      (onItemSelectionChanged)="selectMenu($event)"
      >
    </dx-tree-view>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>
